<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web de Viatges{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <h1>Web de Viatges</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/accounts/login/">Login</a></li>
                <li><a href="/accounts/register/">Registre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Web de Viatges</p>
    </footer>
</body>
</html>
