<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'viatges' %}">Destinacions</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Tanca sessió</button>
                </form>
            </li>
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff' %}">Staff</a>
                </li>


            {% endif %}

        {% else %}
            <li class="nav-item"><a class="nav-link" href="/accounts/login/">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/accounts/register/">Registre</a></li>
        {% endif %}
    </ul>
</nav>

